* {
  /* Xóa margin, padding và border mặc định */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
.container{
  margin: auto;
  padding-top: 80px;
}
.card{
    width: 300px;
    height: 400px;
    background-color: rgb(98, 181, 245);
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    margin-top: 120px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.card:hover{
  transform: scale(0.95);
}

body{
    background-color: rgb(148, 199, 239);
}
.card img{
    margin-bottom: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid rgb(234, 221, 221);
    transition: 0.3s;
    margin-top: 20px;
}
.card img:hover{
    transform: scale(1.1);
}
.desciption{
    padding: 20px;
}
.name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(204, 62, 62);
    margin: auto;
}
.job{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: rgb(249, 223, 54);
}
.platform{
    color: rgb(206, 211, 216);
    text-align: center;
}
.icon{
  display: flex;
  gap: 20px;
}
.icon a{
  display: flex;               
  justify-content: center;    
  align-items: center;    
  background-color: rgb(190, 220, 246);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 16px solid rgb(193, 230, 249);
  object-fit: cover;
  color: rgb(236, 140, 236);
}
a:hover{
  transform: scale(1.1);
}