* {
  /* Xóa margin, padding và border mặc định */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
.card{
    width: 360px;
    background-color: white;
    margin: auto;
    margin-top: 120px;
    border-radius: 16px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(160, 202, 239);
}
.desciption{
    padding: 20px;
}
.name{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.job{
  color: rgb(96, 60, 243);
  font-size: 20px;
  margin-bottom: 10px;
}
.platform{
  font-size: 20px;
  color: rgb(239, 45, 45);
  font-weight: bold;
  margin-bottom: 12px;
}
button {
  font-size: 24px;
  padding: 12px;
  width: 100%;
  border: none;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(0, 131, 218);
  border-radius: 12px;
}